server:
  port: 9090

spring:
  thymeleaf:
    cache: false
    mode: LEGACYHTML5
    suffix: .html
  profiles:
    include: datasource

logging:
  level:
    com.batman.bysj: debug

#security:
#  user:
#    name: user
#    password: user
