<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title></title>
	<meta name="keywords" content=""/>
	<meta name="description" content=""/>
	<link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
	<link rel="stylesheet" href="/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}"/>
	<link rel="stylesheet" href="/plugins/jqgrid/ui.jqgrid-bootstrap.css" th:href="@{/plugins/jqgrid/ui.jqgrid-bootstrap.css}"/>
	<link rel="stylesheet" href="/plugins/ztree/css/metroStyle/metroStyle.css" th:href="@{/plugins/ztree/css/metroStyle/metroStyle.css}"/>
	<link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}"/>

</head>
<div th:fragment="footer">
	<!--<script src="/js/plugins/summernote/summernote.js"></script>
	<script src="/js/plugins/summernote/summernote-zh-CN.min.js"></script>
	<script src="/js/ajax-util.js"></script>-->
	<script src="/libs/jquery.min.js"></script>
	<script src="/plugins/layer/layer.js"></script>
	<script src="/libs/bootstrap.min.js"></script>
	<script src="/libs/vue.min.js"></script>
	<script src="/plugins/jqgrid/grid.locale-cn.js"></script>
	<script src="/plugins/jqgrid/jquery.jqGrid.min.js"></script>
	<script src="/plugins/ztree/jquery.ztree.all.min.js"></script>
	<script src="/js/common.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
</div>
</html>